@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

:root {
  /* Fondo general */
  --background: #fcf8f7;

  /* Tarjetas */
  --card: #ffffff;
  --card-border: #f2e5e7;
  --brand-border: #f4d3e0;

  /* Color principal */
  --primary: #d98aa6;
  --primary-hover: #c97897;

  /* Colores secundarios */
  --secondary: #f7d9cf;
  --accent: #fde9e7e8;

  /* Textos */
  --text-main: #49363b;
  --text-muted: #8d777d;

  /* Extras */
  --success: #93c8b5;
  --danger: #f8ece8;
}

@theme inline {
  --font-serif: "Playfair Display", serif;

  --color-background: var(--background);

  --color-card: var(--card);
  --color-card-border: var(--card-border);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-brand-border: var(--brand-border);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-success: var(--success);
  --color-danger: var(--danger);
}

body {
  background: var(--background);
  color: var(--text-main);
  font-family: "Playfair Display", serif, system-ui;
}
